<?xml version="1.0" encoding="UTF-8"?>


<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M  - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!--过滤掉spring和hibernate的一些无用的debug信息-->
        <logger name="org.springframework" level="INFO"></logger>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>

        <logger name="org.mybatis" level="INFO"  additivity="false"></logger>
    </Loggers>
</Configuration>